@page "/transactions"
@using System.Globalization
@using TTCCashRegister.Data.Dialog
@using TTCCashRegister.Data.Person
@using TTCCashRegister.Data.Source
@using TTCCashRegister.Data.SubTransaction
@using TTCCashRegister.Data.Transaction.Dialogs
@inject TransactionService TransactionService
@inject IDialogService DialogService
@inject NotificationService NotificationService

<h2>Transactions</h2>
<MudTable Class="mt-2"
          Items="@_allEntries"
          Dense="@Dense"
          Hover="@Hover"
          Bordered="@Bordered"
          Striped="@Striped"
          FixedHeader="true"
          @bind-SelectedItem="_selectedItem"
          Filter="new Func<TransactionModel,bool>(FilterFunc)"
          SortLabel="Sort By">

    <ToolBarContent>
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Add"
                   Color="Color.Primary"
                   OnClick="@(() => ShowAddTransactionDialog())">
            Add Transaction
        </MudButton>

        <MudSpacer />

        <MudDateRangePicker Label="Date Range"
                            @bind-DateRange="_dateRange"
                            Editable="true"
                            DateFormat="dd.MM.yyyy"
                            Class="mx-2" />
        <MudButton Variant="Variant.Outlined"
                   Color="Color.Primary"
                   OnClick="@(() => ApplyDateFilter())">
            Apply Filter
        </MudButton>

        <MudSpacer />

        <MudTextField @bind-Value="_searchString1"
                      Placeholder="Search"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium"
                      Class="mt-0" />

        <MudSwitch @bind-Value="_useAndSearch"
                   Color="Color.Primary"
                   ThumbIcon="@Icons.Material.Filled.Done"
                   Class="ml-4">
            @(_useAndSearch ? "AND search" : "OR search")
        </MudSwitch>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>Date<MudTableSortLabel SortBy="new Func<TransactionModel, object?>(x => x.Date)"></MudTableSortLabel></MudTh>
        <MudTh>Doc. Nr.<MudTableSortLabel SortBy="new Func<TransactionModel, object>(x => x.Documentnumber)"></MudTableSortLabel></MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Sum<MudTableSortLabel SortBy="new Func<TransactionModel, object>(x => x.Sum)"></MudTableSortLabel></MudTh>
        <MudTh>Acc. mvm.</MudTh>
        <MudTh>Cost unit</MudTh>
        <MudTh>Basic unit</MudTh>
        <MudTh>Unit details</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>@context.Date</MudTd>
        <MudTd>@context.Documentnumber</MudTd>
        <MudTd>@context.Description</MudTd>
        <MudTd>@context.Sum.ToString("C", CultureInfo.CurrentCulture)</MudTd>
        <MudTd>@context.AccountMovement.ToString("C", CultureInfo.CurrentCulture)</MudTd>
        <MudTd>@context.CostUnit.CostUnitName</MudTd>
        <MudTd>@context.BasicUnit?.Name</MudTd>
        <MudTd>@context.UnitDetails?.CostDetails</MudTd>
        <MudTd>
            <MudIconButton Icon="@Icons.Material.Filled.List"
                           Color="Color.Secondary"
                           aria-label="show-subtransactions"
                           OnClick="@(() => ShowSubTransactionsOverviewDialog(
                                        context.Id, 
                                        context.Documentnumber))">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Color="Color.Info"
                           aria-label="edit"
                           OnClick="@(() => ShowEditTransactionDialog(context.Id))">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           Color="Color.Error"
                           aria-label="delete"
                           OnClick="@(() => ShowDeleteTransactionDialog(context.Id))">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private IEnumerable<TransactionModel>? _allEntries;
    private const bool Dense = true;
    private const bool Hover = true;
    private const bool Striped = true;
    private const bool Bordered = false;
    private string _searchString1 = string.Empty;
    private TransactionModel _selectedItem = new();
    private DateRange _dateRange = new(null, null);
    private bool _useAndSearch; // Toggle für AND/OR-Suche
    private readonly DialogOptions _subTransactionsOverviewOptions = new()
    {
        MaxWidth = MaxWidth.Medium,
        FullWidth = true,
        BackdropClick = true,
        BackgroundClass= "custom-dialog-background"
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _allEntries = await TransactionService.GetAllTransactions();
    }

    private bool FilterFunc(TransactionModel? element) => FilterFunc1(element, _searchString1);

    private bool FilterFunc1(TransactionModel? element, string searchString)
    {
        if (element is null)
            return false;

        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        
        var terms = searchString
            .Split(' ', StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries)
            .Select(t => t.ToLowerInvariant())
            .ToList();

        return _useAndSearch
            ? terms.All(Matches) // AND
            : terms.Any(Matches); // OR

        bool Matches(string term) =>
            element.BasicUnit is not null && 
             ((element.Description?.ToLower().Contains(term) is true) ||
             element.Documentnumber.ToString().Contains(term) ||
             element.CostUnit.CostUnitName.ToLower().Contains(term) ||
             element.BasicUnit.Name.ToLower().Contains(term) ||
             (element.UnitDetails is not null && element.UnitDetails.CostDetails.ToLower().Contains(term)));
    }
    
    private async Task ApplyDateFilter()
    {
        if (_dateRange is { Start: not null, End: not null })
        {
            var start = _dateRange.Start.Value.Date;
            var end = _dateRange.End.Value.Date;

            _allEntries = await TransactionService.GetTransactionsByDateRange(start, end);
        }
        else
        {
            _allEntries = await TransactionService.GetAllTransactions();
        }

        await InvokeAsync(StateHasChanged);
    }
    
    private async Task ShowSubTransactionsOverviewDialog(int transactionId, int documentNumber)
    {
        var dialog = await DialogService.ShowAsync<SubTransactionsOverviewDialog>(null,
            new DialogParameters
            {
                ["TransactionId"] = transactionId,
                ["ParentDocumentNumber"] = documentNumber
            },
            _subTransactionsOverviewOptions);
        await dialog.Result;
        
        await UpdateView();
    }
    
    private async Task ShowAddTransactionDialog()
    {
       var dialog = await DialogService.ShowAsync<TransactionDialog>(string.Empty);
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }

    private async Task ShowEditTransactionDialog(int transactionId)
    {
        var dialog = await DialogService.ShowAsync<TransactionDialog>("Edit Transaction",
            new DialogParameters { ["TransactionId"] = transactionId });
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }
    
    private async Task ShowDeleteTransactionDialog(int transactionId)
    {
        var transaction = await TransactionService.GetTransactionByIdAsync(transactionId);
        if (transaction == null) return;

        var dialog = await DialogService.ShowAsync<ConfirmDeleteDialog>(
            string.Empty,
            new DialogParameters
            {
                ["EntityName"] = "Transaction",
                ["ItemName"] = $"B{transaction.Documentnumber.ToString()}: {transaction.Description}",
                ["OnConfirm"] = EventCallback.Factory.Create(this, async () =>
                {
                    await TransactionService.DeleteTransactionAsync(transactionId);
                })
            });

        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }

    private async Task UpdateView()
    {
        _allEntries = await TransactionService.GetAllTransactions();
        await InvokeAsync(StateHasChanged);
    }
}
