@page "/transactions"
@using System.Globalization
@using TTCCashRegister.Data.Dialog
@using TTCCashRegister.Data.Source
@using TTCCashRegister.Data.SubTransaction
@using TTCCashRegister.Data.Transaction.Dialogs
@inject TransactionService TransactionService
@inject IDialogService DialogService
@inject NotificationService NotificationService

<h2>Transactions</h2>
<MudTable @ref="_table"
          ServerData="LoadServerData"
          RowsPerPage="25"
          Class="mt-2"
          Dense="@Dense"
          Hover="@Hover"
          Bordered="@Bordered"
          Striped="@Striped"
          FixedHeader="@_fixedHeader"
          FixedFooter="@_fixedFooter"
          Height="@(_fixedHeader || _fixedFooter ?"700px":"")"
          @bind-SelectedItem="_selectedItem"
          SortLabel="Sort By">
    <ToolBarContent>
        <MudButton Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Add"
                   Color="Color.Primary"
                   OnClick="@(() => ShowAddTransactionDialog())">
            Add Transaction
        </MudButton>
        <MudSpacer />

        <MudButton Variant="Variant.Outlined"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.FilterAlt"
                   OnClick="@(() => ShowFilterDialog())">
            Filter
        </MudButton>
    </ToolBarContent>

    <HeaderContent>
        <MudTh>Date<MudTableSortLabel SortBy="new Func<TransactionModel, object?>(x => x.Date)" 
                                      SortLabel="Date"></MudTableSortLabel></MudTh>
        <MudTh>Doc. Nr.<MudTableSortLabel SortBy="new Func<TransactionModel, object>(x => x.Documentnumber)" 
                                          SortLabel="DocumentNumber" /></MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Sum<MudTableSortLabel SortBy="new Func<TransactionModel, object>(x => x.Sum)" 
                                     SortLabel="Sum"></MudTableSortLabel></MudTh>
        <MudTh>Acc. mvm.</MudTh>
        <MudTh>Cost unit</MudTh>
        <MudTh>Basic unit</MudTh>
        <MudTh>Unit details</MudTh>
        <MudTh>Actions</MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>@context.Date</MudTd>
        <MudTd>@context.Documentnumber</MudTd>
        <MudTd>@context.Description</MudTd>
        <MudTd>@context.Sum.ToString("C", CultureInfo.CurrentCulture)</MudTd>
        <MudTd>@context.AccountMovement.ToString("C", CultureInfo.CurrentCulture)</MudTd>
        <MudTd>@context.Accounts.CostCenter.CostUnitName</MudTd>
        <MudTd>@context.Accounts.BasicUnit?.Name</MudTd>
        <MudTd>@context.Accounts.UnitDetails?.CostDetails</MudTd>
        <MudTd>
            <MudIconButton Icon="@Icons.Material.Filled.List"
                           Color="Color.Secondary"
                           aria-label="show-subtransactions"
                           OnClick="@(() => ShowSubTransactionsOverviewDialog(
                                        context.Id, 
                                        context.Documentnumber))">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Edit"
                           Color="Color.Info"
                           aria-label="edit"
                           OnClick="@(() => ShowEditTransactionDialog(context.Id))">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                           Color="Color.Error"
                           aria-label="delete"
                           OnClick="@(() => ShowDeleteTransactionDialog(context.Id))">
            </MudIconButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>


@code {
    private MudTable<TransactionModel>? _table;
    private const bool Dense = true;
    private const bool Hover = true;
    private const bool Striped = true;
    private const bool Bordered = false;
    private string _searchString1 = string.Empty;
    private TransactionModel _selectedItem = new();
    private DateRange _dateRange = new(null, null);

    private readonly DialogOptions _subTransactionsOverviewOptions = new()
    {
        MaxWidth = MaxWidth.Medium,
        FullWidth = true,
        BackdropClick = false,
        BackgroundClass= "custom-dialog-background"
    };

    private int? _personId;
    private readonly bool _fixedHeader = true;
    private readonly bool _fixedFooter = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task ShowFilterDialog()
    {
        var parameters = new DialogParameters
        {
            ["DateRange"] = _dateRange,
            ["SearchText"] = _searchString1,
            ["SelectedPersonId"] = _personId,
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, BackdropClick = false };

        var dialog = await DialogService.ShowAsync<TransactionFilterDialog>("Filter", parameters, options);
        var result = await dialog.Result;

        if (result is { Canceled: false })
        {
            var values = (TransactionFilterValues)result.Data!;
            _dateRange = values.DateRange;
            _searchString1 = values.SearchText;
            _personId = values.PersonId;

            await UpdateView();
        }
    }

    private async Task ShowSubTransactionsOverviewDialog(int transactionId, int documentNumber)
    {
        var dialog = await DialogService.ShowAsync<SubTransactionsOverviewDialog>(null,
            new DialogParameters
            {
                ["TransactionId"] = transactionId,
                ["ParentDocumentNumber"] = documentNumber
            },
            _subTransactionsOverviewOptions);
        await dialog.Result;
        
        await UpdateView();
    }
    
    private async Task ShowAddTransactionDialog()
    {
        var dialog = await DialogService.ShowAsync<TransactionDialog>(string.Empty);
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }

    private async Task ShowEditTransactionDialog(int transactionId)
    {
        var dialog = await DialogService.ShowAsync<TransactionDialog>("Edit Transaction",
            new DialogParameters { ["TransactionId"] = transactionId });
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }
    
    private async Task ShowDeleteTransactionDialog(int transactionId)
    {
        var transaction = await TransactionService.GetTransactionByIdAsync(transactionId);
        if (transaction == null) return;

        var dialog = await DialogService.ShowAsync<ConfirmDeleteDialog>(
            string.Empty,
            new DialogParameters
            {
                ["EntityName"] = "Transaction",
                ["ItemName"] = $"B{transaction.Documentnumber.ToString()}: {transaction.Description}",
                ["OnConfirm"] = EventCallback.Factory.Create(this, async () =>
                {
                    await TransactionService.DeleteTransactionAsync(transactionId);
                })
            });

        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }

    private async Task UpdateView()
    {
        if (_table is not null)
            await _table.ReloadServerData();
    }
    
    private async Task<TableData<TransactionModel>> LoadServerData(TableState state, CancellationToken cancellationToken)
    {
        return await TransactionService.GetTransactionsPaged(
            state,
            cancellationToken,
            _dateRange,
            _searchString1,
            _personId);
    }
}
