@using Microsoft.Extensions.Localization
@using MudExtensions
@using TTCCashRegister.Data.ThemeSetting
@inherits LayoutComponentBase
@inject IStringLocalizer<Translation> Localizer
@inject UserPrefService UserPrefService
@inject IJSRuntime JsRuntime
@implements IDisposable

<PageTitle>@Localizer["ClubCash"]</PageTitle>

<MudThemeProvider @ref="MudThemeControl" @bind-IsDarkMode="@UserPrefService.IsDarkMode" Theme="CustomTheme.ClubCashTheme"/>
<MudDialogProvider
    CloseButton = "true" 
    MaxWidth = "MaxWidth.Small"
    FullWidth = "true"/>
<MudSnackbarProvider />
<MudPopoverProvider/>
<MudTypographyProvider/>

<MudLayout>
    <MudAppBar Elevation="0" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => DrawerToggle())" />
        <MudSpacer />
        <LoginDisplay />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">@Localizer["ClubCash"]</MudText>
        </MudDrawerHeader>
        <div style="flex: 1; overflow: hidden;">
            <NavMenu />
        </div>
        <div style="padding: 16px; text-align: left;">
            <MudToggleIconButton Toggled="@UserPrefService.IsDarkMode"
                                 ToggledChanged="@((bool val) => UserPrefService.IsDarkMode = val)"
                                 Icon="@Icons.Material.Filled.DarkMode"
                                 Color="@Color.Default"
                                 ToggledIcon="@Icons.Material.Filled.WbSunny"
                                 ToggledColor="@Color.Default" />
        </div>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="my-5 pt-5">
            <CascadingValue IsFixed="true" Name="MudThemeControl" Value="@MudThemeControl">
            @Body
            </CascadingValue>
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    private MudThemeProvider? MudThemeControl;
    
    protected override void OnInitialized()
    {
        UserPrefService.PropertyChanged += OnUserPrefChanged;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UserPrefService.Init(JsRuntime);

            try
            {
                var culture = await JsRuntime.InvokeAsync<string>("localStorage.getItem", "culture");
                if (!string.IsNullOrWhiteSpace(culture))
                {
                    var cultureInfo = new System.Globalization.CultureInfo(culture);
                    System.Globalization.CultureInfo.DefaultThreadCurrentCulture = cultureInfo;
                    System.Globalization.CultureInfo.DefaultThreadCurrentUICulture = cultureInfo;
                }
            }
            catch
            {
                // If there is an error, the standard culture will be used
            }

            StateHasChanged();
        }
        else if (!_themeReady)
        {
            _themeReady = true;
            await Task.Delay(50);
            await JsRuntime.InvokeVoidAsync("eval", "document.body.classList.add('theme-ready')");
        }
    }

    private bool _themeReady;
    
    private void OnUserPrefChanged(object? sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        StateHasChanged();
    }

    
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    
    public void Dispose()
    {
        UserPrefService.PropertyChanged -= OnUserPrefChanged;
    }
}
