@page "/Account/Manage/GenerateRecoveryCodes"

@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@using ClubTreasury.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager
@inject IStringLocalizer<Translation> Localizer
@inject ILogger<GenerateRecoveryCodes> Logger

<PageTitle>@Localizer["GenerateRecoveryCodes"]</PageTitle>

@if (_recoveryCodes is not null)
{
    <h3>@Localizer["RecoveryCodesGenerated"]</h3>

    <div class="id-alert id-alert-warning">
        <p>@Localizer["StoreRecoveryCodesWarning"]</p>
    </div>

    <div class="id-recovery-codes">
        @foreach (var recoveryCode in _recoveryCodes)
        {
            <code>@recoveryCode</code>
        }
    </div>
}
else
{
    <h3>@Localizer["GenerateRecoveryCodes"]</h3>

    <div class="id-alert id-alert-warning">
        <p>@Localizer["GenerateRecoveryCodesWarning"]</p>
    </div>

    <form @formname="generate-recovery-codes" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button type="submit" class="id-btn id-btn-primary">@Localizer["GenerateRecoveryCodesConfirm"]</button>
    </form>
}

@code {
    private string[]? _recoveryCodes;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        if (!await UserManager.GetTwoFactorEnabledAsync(user))
        {
            throw new InvalidOperationException(Localizer["TwoFactorNotEnabled"]);
        }
    }

    private async Task OnSubmitAsync()
    {
        var user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        var userId = await UserManager.GetUserIdAsync(user);
        var codes = await UserManager.GenerateNewTwoFactorRecoveryCodesAsync(user, 10);
        _recoveryCodes = codes?.ToArray();

        Logger.LogInformation("User with ID '{UserId}' has generated new 2FA recovery codes.", userId);
    }
}
