@page "/accounts"
@inject AccountsService AccountsService

<h2>Accounts</h2>

<MudPaper Class="mt-4" Style="width:70%;">
    <MudTable Items="@_allAccounts" Dense="true" Hover="true" Bordered="false" Striped="true" 
              @bind-SelectedItem="_selectedAccount"
              Filter="new Func<AccountsModel,bool>(FilterFunc)">
        <ToolBarContent>
            <MudTextField @bind-Value="_searchString"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0">
            </MudTextField>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Id<MudTableSortLabel SortBy="new Func<AccountsModel, object>(x => x.Id)"></MudTableSortLabel></MudTh>
            <MudTh>Cost center<MudTableSortLabel SortBy="new Func<AccountsModel, object>(x => x.CostCenter.CostUnitName)"></MudTableSortLabel></MudTh>
            <MudTh>Category<MudTableSortLabel SortBy="new Func<AccountsModel, object>(x => x.Category.Name)"></MudTableSortLabel></MudTh>
            <MudTh>Item details<MudTableSortLabel SortBy="new Func<AccountsModel, object>(x => x.ItemDetail.CostDetails)"></MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.Id</MudTd>
            <MudTd DataLabel="Cost center">@context.CostCenter?.CostUnitName</MudTd>
            <MudTd DataLabel="Category">@context.Category?.Name</MudTd>
            <MudTd DataLabel="Item details">@context.ItemDetail?.CostDetails</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<AccountsModel>? _allAccounts;
    private AccountsModel? _selectedAccount;
    private string _searchString = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await UpdateAccounts();
    }

    private async Task UpdateAccounts()
    {
        _allAccounts = await AccountsService.GetAllAccountsAsync();
        await InvokeAsync(StateHasChanged);
    }

    private bool FilterFunc(AccountsModel? account)
    {
        if (account == null)
            return false;

        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        var term = _searchString.Trim().ToLowerInvariant();

        var matchesCostUnit = account.CostCenter.CostUnitName.ToLowerInvariant().Contains(term);
        var matchesBasicUnit = account.Category.Name.ToLowerInvariant().Contains(term);
        var matchesUnitDetails = account.ItemDetail != null && account.ItemDetail.CostDetails.ToLowerInvariant().Contains(term);

        return matchesCostUnit || matchesBasicUnit || matchesUnitDetails;
    }


    /*
    private async Task ShowEditAccountDialog(int accountId)
    {
        var dialog = await DialogService.ShowAsync<EditAccountDialog>("Edit Account",
            new DialogParameters { ["AccountId"] = accountId });
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateAccounts();
    }

    private async Task ShowDeleteAccountDialog(int accountId)
    {
        var dialog = await DialogService.ShowAsync<DeleteAccountDialog>("Delete Account",
            new DialogParameters { ["AccountId"] = accountId });
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateAccounts();
    }*/
}
