@page "/basicunits"
@using TTCCashRegister.Data.Models
@using TTCCashRegister.Data.Services
@using TTCCashRegister.Pages.Dialogs
@inject BasicUnitService basicUnitService
@inject CostUnitService costunitservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<h3>Basic Units</h3>

<MudPaper Class="mt-4" Style="width:55%;">
    <MudTable Class="mt-2" Items="@allEntries" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" FixedHeader="true"
              @bind-SelectedItem="selectedItem"
              Filter="new Func<BasicUnit,bool>(FilterFunc)"
              SortLabel="Sort By">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       OnClick="ShowAddBasicUnitDialog">
                Add Basic Unit
            </MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0">
            </MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 20px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh>Id<MudTableSortLabel SortBy="new Func<BasicUnit, object>(x => x.Id)">Id</MudTableSortLabel></MudTh>
            <MudTh>Name<MudTableSortLabel SortBy="new Func<BasicUnit, object>(x => x.Name ?? string.Empty)"></MudTableSortLabel></MudTh>
            <MudTh>Details</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Details">
                @if (context.CostUnitDetails != null && context.CostUnitDetails.Any())
                {
                        @foreach (var detail in context.CostUnitDetails)
                        {
                           <li> @detail.CostDetails</li>
                        }
                }
                else
                {
                    <em>No details assigned</em>
                }

            </MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" aria-label="edit" OnClick="() => ShowEditBasicUnitDialog(context.Id)"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" OnClick="() => ShowDeleteBasicUnitDialog(context.Id)">Delete</MudIconButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {

    private IEnumerable<BasicUnit>? allEntries;

    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private string searchString1 = string.Empty;
    private BasicUnit selectedItem = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        allEntries = await basicUnitService.GetAllBasicUnitsAsync();
    }

    private bool FilterFunc(BasicUnit element) => FilterFunc1(element, searchString1);

    private bool FilterFunc1(BasicUnit element, string searchstring)
    {
        if (string.IsNullOrWhiteSpace(searchstring))
            return true;
        if (element is null)
            return false;
        if (element is not null && !string.IsNullOrWhiteSpace(searchstring))
        {
            var lowerstring = searchstring.ToLowerInvariant();
            if (element.Name is not null && element.Name.ToLower().Contains(lowerstring))
                return true;
        }
        return false;
    }

    private async Task ShowAddBasicUnitDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<AddBasicUnitDialog>("Add Basic Unit", parameters, options);

        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await basicUnitService.GetAllBasicUnitsAsync();
            Snackbar.Add("New basic unit was added successfully", Severity.Success);
        }
    }

    private async Task ShowEditBasicUnitDialog(int basicUnitId)
    {
        var parameters = new DialogParameters { ["BasicUnitId"] = basicUnitId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<EditBasicUnitDialog>("Edit Basic Unit", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await basicUnitService.GetAllBasicUnitsAsync();
            Snackbar.Add("Basic unit was updated successfully", Severity.Success);
        }
    }

    private async Task ShowDeleteBasicUnitDialog(int basicUnitId)
    {
        var parameters = new DialogParameters { ["BasicUnitId"] = basicUnitId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<DeleteBasicUnitDialog>("Delete Basic Unit", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await basicUnitService.GetAllBasicUnitsAsync();
            Snackbar.Add("Basic unit was deleted successfully", Severity.Success);
        }
    }
}
