@page "/cashregisters"
@using TTCCashRegister.Data.Models
@using TTCCashRegister.Data.Services
@using TTCCashRegister.Pages.Dialogs
@inject CashRegisterService CashRegisterService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<h3>Cash Registers</h3>

<MudPaper Class="mt-4" Style="width:75%;">
    <MudTable Class="mt-2" Items="@_allEntries" Dense="@Dense" Hover="@Hover" Bordered="@Bordered" Striped="@Striped" FixedHeader="true"
              @bind-SelectedItem="_selectedItem"
              Filter="new Func<CashRegister,bool>(FilterFunc)"
              SortLabel="Sort By">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       @onclick="ShowAddCashRegisterDialog">
                Add Cash Register
            </MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString1"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0">
            </MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 20px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh>Id<MudTableSortLabel SortBy="new Func<CashRegister, object>(x => x.ID)"></MudTableSortLabel></MudTh>
            <MudTh>Name<MudTableSortLabel SortBy="new Func<CashRegister, object>(x => x.Name)"></MudTableSortLabel></MudTh>
            <MudTh>Current balance</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.ID</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Current balance">@context.CurrentBalance</MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" aria-label="edit" @onclick="() => ShowEditCashRegisterDialog(context.ID)"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" @onclick="() => ShowDeleteCashRegisterDialog(context.ID)">Delete</MudIconButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<CashRegister>? _allEntries;
    private const bool Dense = true;
    private const bool Hover = true;
    private const bool Striped = true;
    private const bool Bordered = false;
    private string _searchString1 = string.Empty;
    private CashRegister _selectedItem = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _allEntries = await CashRegisterService.GetAllCashRegisters();
    }

    private bool FilterFunc(CashRegister? element) => FilterFunc1(element, _searchString1);

    private bool FilterFunc1(CashRegister? element, string searchstring)
    {
        if (string.IsNullOrWhiteSpace(searchstring))
            return true;
        if (element is null)
            return false;
        if (!string.IsNullOrWhiteSpace(searchstring))
        {
            if (element.Name.ToLower().Contains(searchstring.ToLowerInvariant()))
                return true;
        }
        return false;
    }

    private async Task ShowAddCashRegisterDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = await DialogService.ShowAsync<AddCashRegisterDialog>("Add Cash Register", parameters, options);

        if ((await dialog.Result)?.Canceled == false)
        {
            _allEntries = await CashRegisterService.GetAllCashRegisters();
            Snackbar.Add("New cash register was added successfully", Severity.Success);
        }
    }

    private async Task ShowEditCashRegisterDialog(int cashRegisterId)
    {
        var parameters = new DialogParameters { ["CashRegisterId"] = cashRegisterId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = await DialogService.ShowAsync<EditCashRegisterDialog>("Edit Cash Register", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            _allEntries = await CashRegisterService.GetAllCashRegisters();
            Snackbar.Add("Cash register was updated successfully", Severity.Success);
        }
    }

    private async Task ShowDeleteCashRegisterDialog(int cashRegisterId)
    {
        var parameters = new DialogParameters { ["CashRegisterId"] = cashRegisterId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = await DialogService.ShowAsync<DeleteCashRegisterDialog>("Delete Cash Register", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            _allEntries = await CashRegisterService.GetAllCashRegisters();
            Snackbar.Add("Cash register was deleted successfully", Severity.Success);
        }
    }
}
