@page "/specialitems"
@using TTCCashRegister.Data.Models
@using TTCCashRegister.Data.Services
@using TTCCashRegister.Pages.Dialogs
@inject SpecialItemService specialItemService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<h3>Special Items</h3>

<MudPaper Class="mt-4" Style="width:50%;">
    <MudTable Class="mt-2" Items="@allEntries" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" FixedHeader="true"
              @bind-SelectedItem="selectedItem"
              Filter="new Func<SpecialItem,bool>(FilterFunc)"
              SortLabel="Sort By">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       @onclick="ShowAddSpecialItemDialog">
                Add Special Item
            </MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0">
            </MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 20px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<SpecialItem, object>(x => x.Id)">Id</MudTableSortLabel></MudTh>
            <MudTh>Name<MudTableSortLabel SortBy="new Func<SpecialItem, object>(x => x.Name ?? string.Empty)"></MudTableSortLabel></MudTh>
            <MudTh>Amount</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="">@context.Betrag</MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" aria-label="edit" @onclick="() => ShowEditSpecialItemDialog(context.Id)"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" @onclick="() => ShowDeleteSpecialItemDialog(context.Id)">Delete</MudIconButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<SpecialItem>? allEntries;
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private string searchString1 = string.Empty;
    private SpecialItem selectedItem = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        allEntries = await specialItemService.GetAllSonderposten();
    }

    private bool FilterFunc(SpecialItem element) => FilterFunc1(element, searchString1);

    private bool FilterFunc1(SpecialItem element, string searchstring)
    {
        if (string.IsNullOrWhiteSpace(searchstring))
            return true;
        if (element is null)
            return false;
        if (element is not null && !string.IsNullOrWhiteSpace(searchstring))
        {
            var lowerstring = searchstring.ToLowerInvariant();
            if (element.Name is not null && element.Name.ToLower().Contains(lowerstring))
                return true;
        }
        return false;
    }

    private async Task ShowAddSpecialItemDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<AddSpecialItemDialog>("Add Special Item", parameters, options);

        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await specialItemService.GetAllSonderposten();
            Snackbar.Add("New special item was added successfully", Severity.Success);
        }
    }

    private async Task ShowEditSpecialItemDialog(int specialItemId)
    {
        var parameters = new DialogParameters { ["SpecialItemId"] = specialItemId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<EditSpecialItemDialog>("Edit Special Item", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await specialItemService.GetAllSonderposten();
            Snackbar.Add("Special item was updated successfully", Severity.Success);
        }
    }

    private async Task ShowDeleteSpecialItemDialog(int specialItemId)
    {
        var parameters = new DialogParameters { ["SpecialItemId"] = specialItemId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<DeleteSpecialItemDialog>("Delete Special Item", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await specialItemService.GetAllSonderposten();
            Snackbar.Add("Special item was deleted successfully", Severity.Success);
        }
    }
}
