@page "/costunits"
@using TTCCashRegister.Data.Models
@using TTCCashRegister.Data.Services
@using TTCCashRegister.Pages.Dialogs
@inject CostUnitService costunitservice
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<h3>Cost units</h3>
<MudPaper Class="mt-4" Style="width:55%;">
    <MudTable Class="mt-2" Items="@allEntries" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" FixedHeader="true"
              @bind-SelectedItem="selectedItem"
              Filter="new Func<CostUnit,bool>(FilterFunc)"
              SortLabel="Sort By">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       OnClick="ShowAddCostUnitDialog">
                Add cost unit
            </MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0">
            </MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 20px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
            <col style="width: 110px;" />
        </ColGroup>
        <HeaderContent>
            <MudTh>Id<MudTableSortLabel SortBy="new Func<CostUnit, object>(x => x.Id)"></MudTableSortLabel></MudTh>
            <MudTh>Unit<MudTableSortLabel SortBy="new Func<CostUnit, object>(x => x.CostUnitName ?? string.Empty)"></MudTableSortLabel></MudTh>
            <MudTh>Details</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.Id</MudTd>
            <MudTd DataLabel="Unit">@context.CostUnitName</MudTd>
            <MudTd DataLabel="Details">
                @if (context.BasicUnitDetails != null && context.BasicUnitDetails.Any())
                {
                    @foreach (var detail in context.BasicUnitDetails)
                    {
                        <li> @detail.Name</li>
                    }
                }
                else
                {
                    <em>No details assigned</em>
                }

            </MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" aria-label="edit" OnClick="() => ShowEditCostUnitDialog(context.Id)"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" OnClick="() => ShowDeleteCostUnitDialog(context.Id)">Delete</MudIconButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<CostUnit>? allEntries;
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private string searchString1 = string.Empty;
    private CostUnit selectedItem = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        allEntries = await costunitservice.GetAllUnitsAsync();
    }

    private bool FilterFunc(CostUnit element) => FilterFunc1(element, searchString1);

    private bool FilterFunc1(CostUnit element, string searchstring)
    {
        if (string.IsNullOrWhiteSpace(searchstring))
            return true;
        if (element is null)
            return false;
        if (element is not null && !string.IsNullOrWhiteSpace(searchstring))
        {
            var lowerstring = searchstring.ToLowerInvariant();
            if (element.CostUnitName is not null && element.CostUnitName.ToLower().Contains(lowerstring))
                return true;
        }
        return false;
    }

    private async Task ShowAddCostUnitDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<AddCostUnitDialog>("Add Cost Unit", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await costunitservice.GetAllUnitsAsync();
            Snackbar.Add("New sector was added added successfully", Severity.Success);
        }
    }
    private async Task ShowEditCostUnitDialog(int costUnitId)
    {
        var parameters = new DialogParameters { ["CostUnitId"] = costUnitId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<EditCostUnitDialog>("Edit Cost Unit", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await costunitservice.GetAllUnitsAsync();
            Snackbar.Add("Cost unit was updated successfully", Severity.Success);
        }
    }

    private async Task ShowDeleteCostUnitDialog(int costUnitId)
    {
        var parameters = new DialogParameters { ["CostUnitId"] = costUnitId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<DeleteCostUnitDialog>("Delete Cost Unit", parameters, options);
        if ((await dialog.Result)?.Canceled == false)
        {
            allEntries = await costunitservice.GetAllUnitsAsync();
            Snackbar.Add("Cost unit was deleted successfully", Severity.Success);
        }
    }

}
