@page "/exportbudget"
@using System.Globalization
@using TTCCashRegister.Data.Export.Dialogs
@using TTCCashRegister.Data.Source
@using TTCCashRegister.Data.Transaction
@inject TransactionService TransactionService
@inject IDialogService DialogService
@inject NotificationService NotificationService

<h2>Export data for budget plan</h2>
<MudPaper Class="mt-4" Style="width:50%;">
    <MudTable Class="mt-2" Items="@_transactions" Dense="@Dense" Hover="@Hover" Bordered="@Bordered" Striped="@Striped" FixedHeader="true">
        <ToolBarContent>
            <MudButton Class = "ml-2"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Download"
                       Color="Color.Secondary"
                       OnClick="ShowExportBudgetDialog">
                Export data
            </MudButton>
        </ToolBarContent>
        <ColGroup>
            <col style="width:200px;"/>    @*Cost center*@
            <col style="width:200px;"/>   @*Categories*@
            <col />    @*Position details*@
            <col style="min-width:80px;" />    @*Acc. mvm.*@
        </ColGroup>
        <HeaderContent>
            <MudTh>Cost center</MudTh>
            <MudTh>Category</MudTh>
            <MudTh>Position detail</MudTh>
            <MudTh>Acc. mvm.</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Cost center">@context.Allocation.CostCenter.CostUnitName</MudTd>
            <MudTd DataLabel="Category">@context.Allocation.Category?.Name</MudTd>
            <MudTd DataLabel="Position detail">@context.Allocation.ItemDetail?.CostDetails</MudTd>
            <MudTd DataLabel="Acc. mvm.">@context.AccountMovement.ToString("C", CultureInfo.CurrentCulture)</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<TransactionModel>? _transactions;
    private const bool Dense = true;
    private const bool Hover = true;
    private const bool Striped = true;
    private const bool Bordered = false;
    
    protected override async Task OnInitializedAsync()
    {
         await base.OnInitializedAsync();
         _transactions = await TransactionService.GetAllTransactions();
    }

    private async Task ShowExportBudgetDialog()
    {
        var dialog = await DialogService.ShowAsync<ExportBudgetDialog>("Export Budgets", new DialogParameters());
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
    }
}
