@page "/cashregisters"
@using System.Globalization
@using TTCCashRegister.Data.CashRegister.Dialogs
@using TTCCashRegister.Data.Source
@inject ICashRegisterService CashRegisterService
@inject IDialogService DialogService
@inject INotificationService NotificationService

<h2>Cash registers</h2>

<MudPaper Class="mt-4" Style="width:40%;">
    <MudTable Class="mt-2" Items="@_allEntries" Dense="@Dense" Hover="@Hover" Bordered="@Bordered" Striped="@Striped" FixedHeader="true"
              @bind-SelectedItem="_selectedItem"
              Filter="new Func<CashRegisterModel,bool>(FilterFunc)"
              SortLabel="Sort By">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       @onclick="ShowAddCashRegisterDialog">
                Add Cash Register
            </MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString1"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0">
            </MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 50px;" />
            <col  />
            <col style="width: 200px;" />
            <col style="width: 150px;"/>
        </ColGroup>
        <HeaderContent>
            <MudTh>Id<MudTableSortLabel SortBy="new Func<CashRegisterModel, object>(x => x.Id)"></MudTableSortLabel></MudTh>
            <MudTh>Name<MudTableSortLabel SortBy="new Func<CashRegisterModel, object>(x => x.Name)"></MudTableSortLabel></MudTh>
            <MudTh>Current balance</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Current balance">@context.CurrentBalance.ToString("C", CultureInfo.CurrentCulture)</MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" aria-label="edit" @onclick="() => ShowEditCashRegisterDialog(context.Id)"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" @onclick="() => ShowDeleteCashRegisterDialog(context.Id)">Delete</MudIconButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<CashRegisterModel>? _allEntries;
    private const bool Dense = true;
    private const bool Hover = true;
    private const bool Striped = true;
    private const bool Bordered = false;
    private string _searchString1 = string.Empty;
    private CashRegisterModel _selectedItem = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _allEntries = await CashRegisterService.GetAllCashRegisters();
    }

    private bool FilterFunc(CashRegisterModel? element) => FilterFunc1(element, _searchString1);

    private bool FilterFunc1(CashRegisterModel? element, string searchstring)
    {
        if (string.IsNullOrWhiteSpace(searchstring))
            return true;
        if (element is null)
            return false;
        if (!string.IsNullOrWhiteSpace(searchstring))
        {
            if (element.Name.ToLower().Contains(searchstring.ToLowerInvariant()))
                return true;
        }
        return false;
    }

    private async Task ShowAddCashRegisterDialog()
    {
        var dialog = await DialogService.ShowAsync<AddCashRegisterDialog>("Add Cash Register", new DialogParameters());
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }
    
    private async Task ShowEditCashRegisterDialog(int cashRegisterId)
    {
        var dialog = await DialogService.ShowAsync<EditCashRegisterDialog>("Edit Cash Register", 
            new DialogParameters { ["CashRegisterId"] = cashRegisterId });
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }

    private async Task ShowDeleteCashRegisterDialog(int cashRegisterId)
    {
        var dialog = await DialogService.ShowAsync<DeleteCashRegisterDialog>("Delete Cash Register", 
            new DialogParameters { ["CashRegisterId"] = cashRegisterId });
        await NotificationService.ShowDialogResultAsync(await dialog.Result);
        await UpdateView();
    }
    
    private async Task UpdateView()
    {
        _allEntries = await CashRegisterService.GetAllCashRegisters();
        await InvokeAsync(StateHasChanged);
    }
}
