@page "/addtransaction"
@using TTCCashRegister.Data.Models
@using TTCCashRegister.Data.Services
@inject TransactionService entryservice
@inject NavigationManager navigationmanager
@inject ISnackbar Snackbar

<h3>Add new transaction</h3>
<MudItem Class="d-flex align-center">
    <MudCard>
    <MudCardContent>
 @*       <MudTextField class="mb-2" Label="Name" @bind-Value="@newElemente.Name" Variant="Variant.Outlined" Disabled="@DisableNameInput"></MudTextField>
            <MudTextField class="mb-2" Label="Surename" @bind-Value="@newElemente.Surename" Variant="Variant.Outlined" Disabled="@DisableSureNameInput"></MudTextField>
        <MudTextField class="mb-2" Label="Debt" @bind-Value="@newElemente.Debt" Disabled="true" Variant="Variant.Outlined"></MudTextField>
        <MudCheckBox @bind-Checked="@newElemente.IsActive" Label="Active"></MudCheckBox>
        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Label="Add" @onclick="@AddEntry">Add</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" Label="Cancel" @onclick="@Cancel">Close</MudButton>
            *@
        </MudCardContent>
    @*    @if (ShowInfoMessage)
        {
            <MudAlert Severity="Severity.Success" Variant="Variant.Filled" Square="true" Dense="true" Class="my-2"
             ShowCloseIcon="true" CloseIconClicked="(()=>ShowOrHideInfoMessage(false))">
                Add new person to database was successfull
            </MudAlert>
        }*@
    </MudCard>
</MudItem> 

@code {
    Transaction newElement = new();
    CashRegister? cashRegister;

    private void ClearPageContent()
    {
        newElement.Date = DateOnly.FromDateTime(DateTime.Now);
        newElement.Documentnumber = 0;
        newElement.CostUnitID = 0;
        newElement.Description = string.Empty;
        newElement.Sum = decimal.Zero;
        newElement.AccountMovement = decimal.Zero;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
         
    }

}
