@page "/transactions"
@using TTCCashRegister.Data.Models
@using TTCCashRegister.Data.Services
@using TTCCashRegister.Pages.Dialogs
@inject TransactionService transactionService
@inject CostUnitService costUnitService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<h3>Transactions</h3>
<MudPaper Class="mt-4" Style="width:100%;">
    <MudTable Class="mt-2" Items="@allEntries" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" FixedHeader="true"
              @bind-SelectedItem="selectedItem"
              Filter="new Func<Transaction,bool>(FilterFunc)"
              SortLabel="Sort By">
        <ToolBarContent>
            <MudButton Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Add"
                       Color="Color.Primary"
                       OnClick="ShowAddTransactionDialog">
                Add Transaction
            </MudButton>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1"
                          Placeholder="Search"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0">
            </MudTextField>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 20px;" />    @*ID*@
            <col style="width: 30px;" />    @*Date*@
            <col style="width: 80px;" />    @*Doc. Nr*@
            <col />   @*Desciption*@
            <col style="width: 30px;" />    @*Sum*@
            <col style="width: 30px;" />    @*Acc. mvm.*@
            <col />    @*Cost unit*@
            <col />    @*Basic unit*@
            <col />   @*unit details*@
            <col />   @*Actions*@
        </ColGroup>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Id)">Id</MudTableSortLabel></MudTh>
            <MudTh>Date<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Date ?? DateOnly.MinValue)"></MudTableSortLabel></MudTh>
            <MudTh>Doc. Nr.<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Documentnumber)"></MudTableSortLabel></MudTh>
            <MudTh>Description<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Description ?? string.Empty)"></MudTableSortLabel></MudTh>
            <MudTh>Sum<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.Sum)"></MudTableSortLabel></MudTh>
            <MudTh>Acc. mvm.<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.AccountMovement)"></MudTableSortLabel></MudTh>
            <MudTh>Cost Unit<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.CostUnit.CostUnitName ?? string.Empty)"></MudTableSortLabel></MudTh>
            <MudTh>Basic unit<MudTableSortLabel SortBy="new Func<Transaction, object>(x => x.BasicUnit.Name ?? string.Empty)"></MudTableSortLabel></MudTh>
            <MudTh>Unit details</MudTh>
            <MudTh>Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.Id</MudTd>
            <MudTd DataLabel="Date">@context.Date</MudTd>
            <MudTd DataLabel="Doc. Nr.">@context.Documentnumber</MudTd>
            <MudTd DataLabel="Description">@context.Description</MudTd>
            <MudTd DataLabel="Sum">@context.Sum</MudTd>
            <MudTd DataLabel="Acc. mvm.">@context.AccountMovement</MudTd>
            <MudTd DataLabel="Cost Unit">@context.CostUnit.CostUnitName</MudTd>
            <MudTd DataLabel="Basic Unit">@context.BasicUnit.Name</MudTd>
            <MudTd DataLabel="Unit Details Count">@context?.UnitDetails?.CostDetails</MudTd>
            <MudTd DataLabel="Actions">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Info" aria-label="edit" OnClick="() => ShowEditTransactionDialog(context.Id)"></MudIconButton>
                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" OnClick="() => ShowDeleteTransactionDialog(context.Id)"></MudIconButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>

@code {
    private IEnumerable<Transaction>? allEntries;
    private bool dense = true;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = false;
    private string searchString1 = string.Empty;
    private Transaction selectedItem = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        allEntries = await transactionService.GetAllTransactions();
    }

    private bool FilterFunc(Transaction element) => FilterFunc1(element, searchString1);

    private bool FilterFunc1(Transaction element, string searchstring)
    {
        if (string.IsNullOrWhiteSpace(searchstring))
            return true;
        if (element is null)
            return false;
        if (element is not null && !string.IsNullOrWhiteSpace(searchstring))
        {
            var lowerstring = searchstring.ToLowerInvariant();
            if (element.Description is not null && element.Description.ToLower().Contains(lowerstring))
                return true;
            if (element.Documentnumber.ToString().Contains(lowerstring))
                return true;
        }
        return false;
    }

    private async Task ShowAddTransactionDialog()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<AddTransactionDialog>("Add Transaction", parameters, options);
        var result = await dialog.Result;
        if (result?.Data is bool success && success)
        {
            allEntries = transactionService is not null ? await transactionService.GetAllTransactions() : null;
            Snackbar.Add("Cost unit was deleted successfully", Severity.Success);
        }
        else if (result?.Canceled == true)
        {
            Snackbar.Add("Transaction was cancelled", Severity.Warning);
        }
        else
        {
            Snackbar.Add("Transaction could not be added", Severity.Error);
        }
    }

    private async Task ShowEditTransactionDialog(int transactionId)
    {
        var parameters = new DialogParameters { ["TransactionId"] = transactionId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<EditTransactionDialog>("Edit Transaction", parameters, options);
        var result = await dialog.Result;
        if (result?.Data is bool success && success)
        {
            allEntries = transactionService is not null ? await transactionService.GetAllTransactions() : null;
            Snackbar.Add("Transaction was edited successfully", Severity.Success);
        }
        else if (result?.Canceled == true)
        {
            Snackbar.Add("Transaction edit was cancelled", Severity.Warning);
        }
        else
        {
            Snackbar.Add("Transaction could not be edited", Severity.Error);
            allEntries = transactionService is not null ? await transactionService.GetAllTransactions() : null;
        }
    }

    private async Task ShowDeleteTransactionDialog(int transactionId)
    {
        var parameters = new DialogParameters { ["TransactionId"] = transactionId };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<DeleteTransactionDialog>("Delete Transaction", parameters, options);
        var result = await dialog.Result;
        if (result?.Data is bool success && success)
        {
            allEntries = transactionService is not null ? await transactionService.GetAllTransactions() : null;
            Snackbar.Add("Transaction was deleted successfully", Severity.Success);
            await InvokeAsync(StateHasChanged);
        }
        else if (result?.Canceled == true)
        {
            Snackbar.Add("Transaction delete was cancelled", Severity.Warning);
        }
        else
        {
            Snackbar.Add("Transaction could not be deleted", Severity.Error);
        }
    }
}
